@model EntityClass.User_detail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div style="box-shadow:#0094ff 1px 0px 3px 2px ; border-radius:10px 10px 10px 10px;">
    <h4>User_detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User_Name)
            @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index","", new { @class = "btn btn-primary" })
        </div>
    }
</div>
