@model IEnumerable<EntityClass.User_detail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Master</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
    <button class="btn btn-success" id="export">Export To Excel</button>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">States</h1>
            </div>
            <div class="panel-body">
                <table id="Dynamic-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.User_Name)
                            </th>
                            <th>Action / Command</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_Name)
                                </td>
                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.User_Name }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Details", "Details", new { id = item.User_Name }, new { @class = "btn btn-info" })*@
                                    @Html.ActionLink("Delete", "Delete", new { id = item.User_Name }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">

        $(document).ready(function () {

            $('#Dynamic-data-table').DataTable();
        });
    </script>

    @*=====================script for download data to csv=====================*@
    <script>
        function download_csv(csv, filename) {
            var csvFile;
            var downloadLink;

            csvFile = new Blob([csv], { type: "text/csv" });
            downloadLink = document.createElement("a");
            downloadLink.download = filename;
            downloadLink.href = window.URL.createObjectURL(csvFile);
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
            downloadLink.click();
        }

        function export_table_to_csv(html, filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length-1; j++)
                    row.push(cols[j].innerText);

                csv.push(row.join(","));
            }

            // Download CSV
            download_csv(csv.join("\n"), filename);
        }

        document.querySelector("button").addEventListener("click", function () {
            var html = document.querySelector("table").outerHTML;
            export_table_to_csv(html, "Users.csv");
        });
    </script>
    @*=====================script for download data to csv=====================*@
}
