@model EntityClass.Item

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarriff_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarriff_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Full_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
