@model EntityClass.City

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div style="border: 1px solid #1945d7; border-radius: 10px 10px 10px 10px;">
    <h4>City</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State_ID)
        </dt>

        <dd id="state_id">
            @*@Html.DisplayFor(model => model.State_ID)*@
            <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
            <script type="text/javascript">

                var id =  @Html.DisplayFor(model => model.State_ID);
                 
                $.get("/StateMVC/GetStateName", { state_id: id }, function (data) {
                    $('<div>' + data + '</div>').appendTo("#state_id");
                });


            </script>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.City_ID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index","", new { @class = "btn btn-primary" })
</p>
