@model IEnumerable<EntityClass.City>

@{
    ViewBag.Title = "City Master";
}

<h2>City Master</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">States</h1>
            </div>
            <div class="panel-body">
                <table id="Dynamic-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.City_ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City_Name)
                            </th>

                            <th>Action / Command</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.City_ID</td>
                            <td>@item.City_Name</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.City_ID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.City_ID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.City_ID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">

     $(document).ready(function () {

         $('#Dynamic-data-table').DataTable();
     });
    </script>

}
