<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-dark bg-primary  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Electra", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("State", "Index", "StateMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("City", "Index", "CityMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Item", "Index", "ItemMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Consignee", "Index", "ConsigneeMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Invoice Generation", "Index", "InvoiceMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Print Invoice", "Index", "InvoiceMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Add New User", "Index", "InvoiceMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Change Password", "Index", "InvoiceMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Database Backup", "Index", "InvoiceMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Invoice List Datewise", "Index", "InvoiceMVC", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Electra Papers Ltd.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
