<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
       Electra CRM
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="../assets/img/logo-small.png">
                    </div>
                    <!-- <p>CT</p> -->
                </a>
                <a href="#" class="simple-text logo-normal">
                    ELECTRA CRM
                    <!-- <div class="logo-image-big">
                      <img src="../assets/img/logo-big.png">
                    </div> -->
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active ">
                        <a href="./dashboard.html">
                            <i class="nc-icon nc-bank"></i>
                            <p>@Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./icons.html">
                            <i class="nc-icon nc-diamond"></i>
                            <p>@Html.ActionLink("State", "Index", "StateMVC", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./map.html">
                            <i class="nc-icon nc-pin-3"></i>
                            <p>@Html.ActionLink("City", "Index", "CityMVC", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./notifications.html">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>@Html.ActionLink("Item", "Index", "ItemMVC", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./user.html">
                            <i class="nc-icon nc-single-02"></i>
                            <p>@Html.ActionLink("New User", "Index", "UserDetailMVC", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./tables.html">
                            <i class="nc-icon nc-tile-56"></i>
                            <p>@Html.ActionLink("Customer", "Index", "ConsigneeMVC", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./typography.html">
                            <i class="nc-icon nc-caps-small"></i>
                            <p>@Html.ActionLink("Change Password", "Index", "ChangePwd", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./upgrade.html">
                            <i class="nc-icon nc-spaceship"></i>
                            <p>@Html.ActionLink("Invoice Generation", "Index", "InvoiceMVC", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./tables.html">
                            <i class="nc-icon nc-tile-56"></i>
                            <p> @Html.ActionLink("Invoice Reports", "Index", "Report", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./tables.html">
                            <i class="nc-icon nc-tile-56"></i>
                            <p> @Html.ActionLink("InvoiceList", "PartyWiseDateWise", "Report", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./tables.html">
                            <i class="nc-icon nc-tile-56"></i>
                            <p>@Html.ActionLink("Item Summary", "ItemwiseSummary", "Report", new { area = "" }, null)</p>
                        </a>
                    </li>
                    <li>
                        <a href="./tables.html">
                            <i class="nc-icon nc-tile-56"></i>
                            <p> @Html.ActionLink("Contact Us", "Index", "ContactMVC", new { area = "" }, null)</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="container-fluid justify-content-evenly body-content" style="zoom:80%;">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Electra Papers Ltd.</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
            demo.initChartsPages();
        });
    </script>
</body>

</html>
