@model IEnumerable<EntityClass.State>

@{
    ViewBag.Title = "State Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>State Master</h2>

<p>
    @Html.ActionLink("Create New", "Create","", new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered">
    <tr class="bg-primary" style="color:#ffffff;">
        <th>
            @Html.DisplayNameFor(model => model.State_Name)
        </th>

        <th>Action / Command</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.State_Name)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.State_ID }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Details", "Details", new { id=item.State_ID }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.State_ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
